<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
<h1>Lista de Produtos</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome do produto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Código de Barras</th>
        <th scope="col">Total em Estoque</th>
        <th scope="col">Ativo</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${produtos}">
        <th scope="row" th:text="${item.Codigo}">1</th>
        <td th:text="${item.produtoNome}">Otto</td>
        <td th:text="${item.descricao}">@mdo</td>
        <td th:text="${item.codigoBarras}">@mdo</td>
        <td th:text="${item.estoque}">@mdo</td>
        <td th:text="${item.ativo}">@mdo</td>
        <td ><a href="#">Detalhes</a></td>
        <td ><a href="#">Editar</a></td>
        <td ><a href="#">Excluir</a></td>
    </tr>

    </tbody>
</table>

<a th:href="@{/produto/novoproduto}"></a>
</body>
</html>